<div class="row manual">

<div class="col-md-9 col-xs-12 manual-content">
    <h1 class="text-info">Guida per l' utente</h1>
    <section >
        <div class="page-header">
            <h2>1. Registrazione </h2>
        </div>
        <p>
            Il primo passo per poter utilizzare  MaaP e' la registrazione. <br>
            e' possibile registrasi cliccando sul pulsante
            <a href="/register">Register!</a> presente nella pagina di login. <br>
             Per registrarsi e' richiesto di inserire
        <ul>
            <li>
                email: inserire l’indirizzo mail con il quale registrarsi.
            </li>
            <li>password: inserire una password;</li>
            <li>password confirmation inserire nuovamente la password del punto precedente;</li>
            <li>Signup: Se il form contiene dati validi, la pressione del bottone "Signup" confermera' la registrazione</li>
        </ul>
        </p>
    </section>

    <section>
        <div class="page-header">
            <h2>2. Autenticazione</h2>
        </div>
        <p>
            Per poter effettuare il login e' necessario essere registrati. <br>
            Il login permette di accedere alla dashboard del sistema e quindi a tutte le funzionalita' offerte da MaaP. <br>
            Per autenticarsi e' necessario compilare il form proposto nella pagina di <a href="/login">login</a><br>
            Viene richiesto di inserire email, password  e di cliccare sul pulsante Login. <br> Terminata l’autenticazione, l’utente viene reindirizzato sulla dashboard. <br>
            Per il recupero della password vedi il capitolo 4.Recupero Password.
        </p>
    </section>

    <section>
        <div class="page-header">
            <h2>3. Logout </h2>
        </div>
        <p>
            Per poter effettuare il logout e' necessario essere registrati ed autenticati. <br>
            Il logout permette di terminare la propria sessione di lavoro. Un volta effettuato il logout, al successivo accesso alla piattaforma sara' richiesto di autenticarsi. <br>
            Per effettuare il logout cliccare sul pulsante con scritto Logout nella barra di navigazione.
        </p>
    </section>

    <section>
        <div class="page-header" >
            <h2>4. Recupero Password</h2>
        </div>
        <p>

            Per poter procedere con un recupero password e' necessario conoscere l’email di registrazione. <br>
            Il recupero dalla password avviene partendo dalla pagina di <a href="/login">login</a> cliccando sul link Forgot your password?
        </p>
        <p>
            Verra' mostrato un form dove sara' richiesto di inserire l'email di registrazione e cliccare il pulsante di Get it!
        </p>
        L’utente ricevera' un messaggio nella casella di posta associata contenente la nuova password per l'accesso.
        Dopo aver recuperato la password e' fortemente consigliato cambiarla nuovamente con una più sicura.

    </section>

    <section>
        <div class="page-header">
            <h2>5. Accesso e modifica profilo personale</h2>
        </div>
        <p>
            Per accedere alla pagina di modifica del profilo cliccare sul pulsante "Profile" in alto a sinistra nella barra di navigazione.
        </p>
        <p>
            La pagina Profile visualizza le informazioni personali dell’utente. <br>
            La modifica della password di registrazione avviene cliccando sul pulsante "Edit".
        </p>
        <p>
            Viene proposto un form nel quale va inserita la nuova password due volte. <br>
            Se l’utente desidera interrompere l’operazione di modifica password può cliccare il pulsante Discard.
        </p>
    </section>

    <section>
        <div class="page-header" >
            <h2>6. Visualizzazione Dashboard </h2>
        </div>
        <p>
            La Dashboard e' la pagina principale dalla quale e' possibile selezionare una delle collection presenti nel sistema. <br>
            Per accedervi e' necessario aver eseguito l’autenticazione. <br>
        </p>
    </section>

    <section>
        <div class="page-header" >
            <h2>7. Apertura Collection Index </h2>
        </div>
        <p>
            La Collection Index e' la pagina in cui viene visualizzato il contenuto di una collection in forma tabellare. <br>
            Per aprire una collection index e' necessario cliccare sul relativo link presente nel menu' collection oppure nel link visualizzato nella pagina dashboard.
        </p>
        <p>
            La pagina collection index visualizzera' l’intero contenuto della collection in forma paginata. <br>

        </p>
    </section>

    <section>
        <div class="page-header" >
            <h2>8. Apertura della Document View</h2>
        </div>
        <p>
            La Document View di un documento visualizza gli attributi del documento in forma tabellare. <br>
            Per accedervi è necessario premere il pulsante "View" posizionato accanto ad ogni documento.
        </p>
    </section>


    <section>
        <div class="page-header" >
            <h2>9. Come riportare problemi e anomalie</h2>
        </div>
        <p>
            Per la segnalazione di problemi o suggerimenti è a disposizione il sistema di Issue del repository ufficiale di MaaP
            a <a href="https://github.com/ApertureSoftware/MaaP/issues">questo indirizzo</a>.
        </p>
    </section>


</div>

</div>