<div ng-include="'views/Navbar.html'"></div>

<div class="row-fluid">
    <div class="col-xs-8 col-xs-offset-1">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div ng-model="rows" class="panel-heading">Indexes</div>

            <!-- Table -->

            <table class="table" ng-show="rows.length != 0">
                <th ng-click="columnSort($index)" ng-repeat="label in labels">{{label}}</th>
                <th ng-show="canEdit" colspan="3">Options</th>
                <tr ng-repeat="row in rows track by $index" >
                    <td ng-repeat="value in row">{{value}}</td>
                    <td><a href="" class="btn btn-info btn-sm" ng-click="delete(data[$index])" ><i class="glyphicon glyphicon-trash"></i> Delete Index</a></td>
                </tr>
            </table>
			
			<div class="page-header">
				<span ng-show="rows.length == 0"><h2>No indexes found!</h2>You may create an index from the <a href="/queries">queries' page</a>.</span>
			</div>
			
        </div>

        <div ng-show=" pages > 1 " class="pagination-div">

            <ul class="pagination">

                <li ng-class="DisablePrevPage()">

                    <a href ng-click="prevPage()"> Prev</a>

                </li>

                <li ng-repeat="n in range()"

                    ng-class="{'disabled': n == current_page}"

                    ng-click="toPage(n)">

                    <a href="">{{n+1}}</a>

                </li>

                <li ng-class="DisableNextPage()">

                    <a href ng-click="nextPage()">Next </a>

                </li>

            </ul>

        </div>
    </div>


</div>