<script>
    if($.cookie("css")) {
        $("#cssfile").attr("href",$.cookie("css"));
    }
    $(document).ready(function() {
        $("#nav li a").click(function() {
            $("#cssfile").attr("href",$(this).attr('rel'));
            $.cookie("css",$(this).attr('rel'), {expires: 365, path: '/'});
            return false;
        });
    });
</script>

<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarCtrl">
    <nav role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:9000">Maaperture</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li class="dropdown">
                        <a  href="" class="dropdown-toggle" data-toggle="dropdown">Collections <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="element in labels"><a href="/collection/{{values[$index]}}">{{element}}</a></li>
                            <li ng-show="isAdmin" class="divider"></li>
                            <li ng-show="isAdmin"><a href="/users">Users</a></li>
                            <li ng-show="isAdmin"><a href="/queries">Queries</a></li>
                            <li ng-show="isAdmin"><a href="/indexes">Indexes</a></li>
                        </ul>
                    </li>
                </ul>

                <!--<form ng-hide="location.path() !== ''" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>-->

                <ul  class="nav navbar-nav navbar-right">
                    <li ng-show="isAdmin"><a href="/users">Manage Users</a></li>
                    <li ><a href="/profile">Profile</a></li>
                    <li class="dropdown">
                        <a  href="" class="dropdown-toggle" data-toggle="dropdown">Styles <b class="caret"></b></a>
                        <ul id="nav" class="dropdown-menu">
                            <li><a href="" rel="styles/hero.css">Hero</a></li>
                            <li><a href="" rel="styles/cerulean.css">Cerulean</a></li>
                            <li><a href="" rel="styles/flaty.css">Flaty</a></li>
                        </ul>
                    </li>


                    <li ng-click="logout()"><a href="">Logout</a></li>
                    <li><a href="/help">Help!</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>